<div class="container-fluid">
	<div class="row mb-5">
		<div class="col-md-12">
			<h3>
				Ask a public question
			</h3>
		</div>
	</div>
	<div class="row mb-3">
		<div class="col-md-12">
			<blockquote class="blockquote">
				<p class="m-0">
					<strong>Title</strong>
				</p>
				<p>
					Be specific and imagine you're asking a question to another person
        </p>
			</blockquote>
			<form role="form">
				<div class="form-group">
					<input type="Title" class="form-control" id="QuestionTitle" />
				</div>
				<div class="form-group">
			</form>
			<blockquote class="blockquote">
				<p class="mb-0">
					<strong>Body</strong>
				</p>
				<p>
					Include all the information spmeone would need to answer your question
        </p>
			</blockquote>
			<div class="row">
				<div class="col-md-12">
					<form role="form">
						<div class="form-group">
							<textarea class="form-control" id="BodyText" rows="8"></textarea>
						</div>
					</form>
				</div>
			</div>
			<form role="form">
				<div class="form-group">
          <label for="Tags">
              <strong>Tags</strong>
					</label>
					<input type="email" class="form-control" id="Tags" />
				</div>
			</form> 
			<button type="button" class="btn btn-primary">
				Review your question
			</button>
		</div>
	</div>
</div>
