<div class="container-fluid">
    <div class="row m-5">
        <div class="col-md-4">
            <h1>
                Name of group
            </h1>
        </div>
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
        </div>	
    </div>
    <div class="row m-5">
        <div class="col-md-4">
            <h3>
                Tests Name
            </h3>
        </div>
        <div class="col-md-4">
            <button type="button" class="btn btn-secondary btn-lg">
                Добавить вопрос
            </button>
        </div>
        <div class="col-md-4">
        </div>
    </div>
    <div class="row m-5">
        <div class="col-md-4">
            <h3>
                Вопрос 1
            </h3>
        </div>
        <div class="col-md-4">
            <form role="form">
                    <div class="checkbox">
                        <label>
                            ответ 1<input type="checkbox" /> 
                        </label>
                    </div>
                </form>
                <form role="form">
                    <div class="checkbox">
                        <label>
                            ответ 2<input type="checkbox" /> 
                        </label>
                    </div>
                </form>
                <form role="form">
                    <div class="checkbox">
                        <label>
                            ответ 3<input type="checkbox" /> 
                        </label>
                    </div>
                </form>    
        </div>
        <div class="col-md-4">
        </div>
    </div>
    <div class="row m-5">
        <div class="col-md-4">
                <h3>
                    Вопрос 2
                </h3>
            </div>
            <div class="col-md-4">
                <form role="form">
                    <div class="checkbox">
                        <label>
                            ответ 1<input type="checkbox" /> 
                        </label>
                    </div>
                </form>
            <form role="form">
                    <div class="checkbox">
                        <label>
                            ответ 2<input type="checkbox" /> 
                        </label>
                    </div>
                </form>
            <form role="form">
                    <div class="checkbox">
                        <label>
                            ответ 3<input type="checkbox" /> 
                        </label>
                    </div>
                </form>
            </div>
            <div class="col-md-4">
            </div>
    </div>
</div>
