
.vscode/launch.json
.vscode/tasks.json
bin/
wwwroot/Pictures
obj/
.vscode
*.cache
obj/Debug/netcoreapp3.1/StudyGroup.csprojAssemblyReference.cache
obj/Debug/netcoreapp3.1/StudyGroup.csprojAssemblyReference.cache
