
@using StudyGroup.Models;
@foreach (var homework in ViewBag.Homeworks)
{
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">@homework.title</h5>
            <p class="card-text">Дата завершения: @homework.dateEnd </p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Оценка:@homework.assessment</li>
        </ul>
        <div class="card-body">
            <a href="#" class="card-link">Открыть </a>
            <a href="#" class="card-link">Задать вопрос</a>
        </div>
    </div>
    
}