@{
    ViewData["Title"] = "Home Page";
}
 <div class="text-center">
        <h1 class="display-4">Welcome to Study Group</h1>
    @if(ViewBag.IsNotUser)
    {
            <p> Тут нужно написать описание нашего проекта </p>
    }
    <h3>Вы можите:</h3>
     <a  method ="get" asp-controller="Group" asp-action="CreateGroup" class="btn btn-sm-2 btn-dark">Создать</a>
     <h3>Или</h3>
     <a  method ="get" asp-controller="Group" asp-action="SearchGroup" class="btn btn-sm-2 btn-dark">Найти</a>
 </div>
